* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --primary-font: "Poppins", system-ui;
    --secondary-font: "Roboto", system-ui;
    --tertiary-font: "Lato", system-ui;

    --clr-heading: #OF172A;
    --clr-paragraph: #OF172A;

    --clr-accent: #0000ff;

}

.navbar {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 8vh;
}

.nav-left {
    display: flex;
    flex-direction: row;
    gap: 6vw;
}

.nav-left .logo {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 700;
    font-size: 4vh;
}

.nav-left .logo:hover {
    cursor: none;
}

.nav-left .logo span {
    color: var(--clr-accent);
}

.nav-left .nav-items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4vw;
}

.nav-left .nav-items li a {
    text-decoration: none;
    font-family: var(--secondary-font);
    color: black;
    font-size: 1.05rem;
    transition: all 0.3s ease-in-out;
}

.nav-left .nav-items li {
    transition: all 0.3s ease-in-out;
}

.nav-left .nav-items li:hover {
    cursor: pointer;
    font-weight: 500;
    transform: scale(1.1);
}

.nav-left .nav-items li a:hover {
    color: var(--clr-accent);
}

.nav-right .btn {
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    font-size: 1.05rem;
    font-weight: 600;
}

.nav-right .btn:hover {
    cursor: pointer;
}

.nav-right .btn-secondary {
    background-color: white;
    color: var(--clr-accent);
}

.nav-right .btn-primary {
    background-color: var(--clr-accent);
    color: white;
}

.nav-right .btn-primary:hover {
    background-color: rgb(0, 0, 230);
}

.blog-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    height: 60vh;
    gap: 3vh;
}

.blog-intro .intro-heading {
    font-family: var(--primary-font);
    font-size: 7vh;
    line-height: 8.5vh;
    text-align: center;
    font-weight: 600;
    width: 60vw;
}

.blog-intro .intro-paragraph {
    font-family: var(--secondary-font);
    width: 60vw;
    font-size: 2.8vh;
    text-align: center;
}

.blog-wrapper {
    width: 100%;
    padding: 0vh 8vh;
    display: flex;
    justify-content: center;
}

.blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4vh 4vw;
    width: 100%;
}

.blog-item {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.blog-wrapper .blog-list .blog-item a {
    text-decoration: none;
    color: black;
}

.blog-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.blog-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-tags {
    display: inline-block;
    border-radius: 20px;
    background-color: #eeedff;
    font-family: var(--tertiary-font);
    font-size: 0.7rem;
    color: var(--clr-accent);
    padding: 1vh 2vh;
    font-weight: 600;
    margin-top: 1%;
    margin-left: 2%;
}

.blog-heading {
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 600;
    padding: 2vh;
}

.blog-paragraph {
    font-family: var(--secondary-font);
    font-size: 1rem;
    color: #555;
    padding: 0 2vh 2vh 2vh;
    line-height: 1.5rem;
}

@media (max-width: 1024px) {
    .blog-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 3vh 2vw;
    }
}

@media (max-width: 768px) {
    .blog-list {
        grid-template-columns: 1fr;
        gap: 2vh;
    }
}

.newsletter-gradient-image {
    background: linear-gradient(135deg, #dae4ff, #e9d6ff);
    border-radius: 15px;
    width: 85%;
    min-height: 60vh;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter-gradient-image .newsletter-heading{
    font-size: 3.25rem;
    line-height: 8vh;
    font-family: var(--primary-font);
    font-weight: 400;
    text-align: center;
    margin-bottom: 3vh;
}

.newsletter-gradient-image .newsletter-paragraph{
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    text-align: center;
    font-weight: 300;
}

.newsletter-gradient-image .newsletter-form{
    display: flex;
    flex-direction: row;
    gap: 3vh;
    margin-top: 5vh;
}

.newsletter-gradient-image .newsletter-form .newsletter-input{
    position: relative;
}

.newsletter-gradient-image .newsletter-form .email-input{
    width: 30vw;
    height: 7vh;
    border-radius: 10px;
    outline: none;
    padding: 10px 15px;
    border: none;
    font-size: 1rem;
    font-family: var(--tertiary-font);
    border: 2px solid #00000000;
    transition: all .25s ease;
}

.newsletter-gradient-image .newsletter-form .newsletter-input .email-label{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-size: 1rem;
    padding: 0 auto;
    color: grey;
    font-family: var(--tertiary-font);
    cursor: text;
}

.newsletter-gradient-image .newsletter-form .sub-btn{
    height: 7vh;
    width: 8vw;
    border-radius: 10px;
    border: none;
    background-color: #463fa6;
    font-family: var(--tertiary-font);
    font-size: 1rem;
    color: white;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.newsletter-gradient-image .newsletter-form .sub-btn:hover{
    cursor: pointer;
    background-color: #463fa6ec;
}

.newsletter-gradient-image .newsletter-form .email-input:focus-within{
    border: 2px solid #000;
    cursor: text;
}

.newsletter-gradient-image .newsletter-form .email-input:focus-within ~.email-label,
.newsletter-gradient-image .newsletter-form .email-input:valid ~.email-label{
    display: none;
}

footer{
    background-image: url(../img/blog-footer.jpg);
    width: 100vw;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* border: 2px solid red; */
    
}

footer::after{
    content: "";
    width: 100vw;
    height: 10vh;
    background-color: #fff;
    clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 100%);
    position: absolute;
    /* border: 2px solid green; */
}

.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.55);
    top: 0;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
}

.footer-logo .logo-img{
    height: 48px;
    width: 48px;
    align-self: center;
}

.footer-logo h2{
    text-align: center;
    color: white;
    font-family: var(--primary-font);
    font-size: 4vh;
}

.footer-logo p{
    /* margin-top: 1vh; */
    vertical-align: center;
    text-align: center;
    color: white;
    font-family: var(--secondary-font);
    font-size: 1.2rem;
}

.footer-logo .social-icons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3vh;
}

.footer-logo .social-icons svg{
    transition: all .3s ease-in-out;
}

.footer-logo .social-icons svg:hover{
    transform: scale(1.1);
    fill: var(--clr-accent);
    box-shadow: 1px 1px 2px #ffffffaf;
}

.footer-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.footer-links h2{
    text-align: center;
    color: white;
    font-family: var(--primary-font);
    font-size: 4vh;
}

.footer-links ul{
    list-style: none;
    text-align: center;
}

.footer-links ul li{
    margin-bottom: 2vh;
    transition: all .3s ease-in-out;
}

.footer-links ul li:hover{
    transform: scale(1.2);
}

.footer-links ul li a{
    text-decoration: none;
    color: white;
    font-family: var(--tertiary-font);
    font-size: 2.5vh;
    transition: all .3s ease-in-out;
}

.footer-links ul li a:hover{
    color: var(--clr-accent);
    font-weight: 600;
    text-shadow: 1px 1px 1px #ffffffaf;
}

.footer-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.footer-contact h2{
    text-align: center;
    color: white;
    font-family: var(--primary-font);
    font-size: 4vh;
}

.footer-contact .contact-links{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-contact .contact-links p{
    margin-bottom: 2vh;
    transition: all .3s ease-in-out;
}

.footer-contact .contact-links p:hover{
    transform: scale(1.2);
}

.footer-contact .contact-links p a{
    text-decoration: none;
    color: white;
    font-family: var(--tertiary-font);
    font-size: 2.5vh;
    transition: all .3s ease-in-out;
}

.footer-contact .contact-links p a:hover{
    color: var(--clr-accent);
    font-weight: 600;
    text-shadow: 1px 1px 1px #ffffffaf;
}

.bottom-bar{
    padding: 2vh;
    position: absolute;
    
    bottom: 0;
    width: 100vw;
    background-color: transparent;
    backdrop-filter: blur(20px) ;
    
}

.bottom-bar p{
    font-size: 2.5vh;
    color: #fff;
    text-align: center;
}


/* Media Queries */

/* For Mobile Screens (max-width: 768px) */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 4vh 4vh;
    }

    .nav-left {
        flex-direction: column;
        gap: 2vh;
    }

    .nav-left .nav-items {
        flex-direction: column;
        gap: 1vh;
    }

    .nav-right {
        margin-top: 2vh;
    }

    .blog-intro {
        height: 40vh;
    }

    .blog-intro .intro-heading {
        font-size: 5vh;
        line-height: 6vh;
    }

    .blog-intro .intro-paragraph {
        font-size: 2vh;
    }

    .blog-wrapper {
        padding: 0vh 4vh;
    }

    .blog-list {
        grid-template-columns: 1fr;
        gap: 2vh;
    }

    .blog-item {
        margin-bottom: 2vh;
    }

    .newsletter-gradient-image {
        margin: 5vh auto;
    }

    .newsletter-gradient-image .newsletter-heading {
        font-size: 2.5rem;
        line-height: 3.5vh;
    }

    .newsletter-gradient-image .newsletter-paragraph {
        font-size: 1.2rem;
    }

    .newsletter-gradient-image .newsletter-form {
        flex-direction: column;
        gap: 2vh;
    }

    .newsletter-gradient-image .newsletter-form .email-input {
        width: 80vw;
    }

    .newsletter-gradient-image .newsletter-form .sub-btn {
        width: 80vw;
    }

    footer {
        height: 50vh;
    }

    footer::after {
        height: 5vh;
    }

    .overlay {
        flex-direction: column;
        gap: 2vh;
    }

    .footer-logo {
        margin-bottom: 2vh;
    }

    .footer-links {
        margin-bottom: 2vh;
    }

    .footer-contact {
        margin-bottom: 2vh;
    }

    .bottom-bar {
        padding: 1vh;
    }
}

/* For Tablet Screens (max-width: 1024px) */
@media (max-width: 1024px) {
    .blog-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 2vh;
    }

    .blog-item {
        margin-bottom: 2vh;
    }

    .newsletter-gradient-image {
        margin: 5vh auto;
    }

    .newsletter-gradient-image .newsletter-heading {
        font-size: 2.5rem;
        line-height: 3.5vh;
    }

    .newsletter-gradient-image .newsletter-paragraph {
        font-size: 1.2rem;
    }

    .newsletter-gradient-image .newsletter-form {
        flex-direction: column;
        gap: 2vh;
    }

    .newsletter-gradient-image .newsletter-form .email-input {
        width: 60vw;
    }

    .newsletter-gradient-image .newsletter-form .sub-btn {
        width: 60vw;
    }

    footer {
        height: 50vh;
    }

    footer::after {
        height: 5vh;
    }

    .overlay {
        flex-direction: column;
        gap: 2vh;
    }

    .footer-logo {
        margin-bottom: 2vh;
    }

    .footer-links {
        margin-bottom: 2vh;
    }

    .footer-contact {
        margin-bottom: 2vh;
    }

    .bottom-bar {
        padding: 1vh;
    }
}