*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.grey-bg{
    background-color: #c0c0c0;
}

header .navbar{
    display: none;
}

header{
    padding: 2rem 0;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

header .sidebar{
    display: flex;
}

header .sidebar .menu{
    position: fixed;
    top: 18px;
    right: 32px;
    padding: 24px 25px;
    font-size: 1rem;
    border-radius: 50%;
    background-color: #1c1d20;
    color: #ffffff;
    z-index: 1;
    transition: all 0.3s ease;
}

header .sidebar .menu::after{
    content: '';
    position: absolute;
    background: linear-gradient(0deg, rgba(2,126,251,1) 0%,  rgba(0,3,255,1)100%);
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
    border-radius: 50%;
    z-index: -1;
    top: 0;
    left: 0;

    transform: scale(0);
}

header .sidebar .menu:hover::after,
header .sidebar .menu:focus::after{
    transform: scale(1);
}

/* header .sidebar .menu:hover{
    cursor:pointer;
    background: linear-gradient(0deg, rgba(2,126,251,1) 0%,  rgba(0,3,255,1)100%);
} */


header .sidebar .cross{
    display: none;
}

header .magnetic{
    display: none;
}

header .logo h2{
    font-size: 1.8rem;  
}

.intro-section{
    margin: 0px;
}

.intro-section .intro-img{
    width: 70vw;
    height: auto;
}

.intro-section .intro-text1{
    font-size: 1.7rem;
}

.intro-section .typewriter{
    max-height: 3rem;
}

.intro-section .typewriter .text{
    font-size: 1.3rem;

}
.intro-section .typewriter .option li{
    font-size: 1.3rem;
}

.intro-section .intro-text .magnet-button{
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
}