*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.grey-bg{
    background-color: #999d9e;
    height: calc(100vh + 0.5rem);
    width: 100vw;
}

header .navbar{
    display: none;
}

header{
    padding: 2rem 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

header .sidebar-toggle{
    display: flex;
}

header .sidebar-toggle .menu{
    position: fixed;
    top: 18px;
    right: 32px;
    padding: 24px 25px;
    font-size: 4vw;
    border-radius: 50%;
    background-color: #1c1d20;
    color: #ffffff;
    z-index: 1;
    transition: all 0.3s ease;
}

header .sidebar-toggle .menu::after{
    content: '';
    position: absolute;
    background: linear-gradient(0deg, #027efb 0%,  rgba(0,3,255,1)100%);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: all 0.3s ease;
    z-index: -1;
    top: 0;
    left: 0;
    
    transform: scale(0);
}

header .sidebar-toggle .menu:hover::after,
header .sidebar-toggle .menu:focus::after{
    transform: scale(1);
}

header .sidebar-toggle .cross{
    z-index: 2;
    display: none;
    position: fixed;
    top: 18px;
    right: 32px;
    background-color: #027efb;
    color: white;
    padding: 24px 25px;
    font-size: 4vw;
    border-radius: 50%;
}

header .sidebar{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: #181818;
    padding: 7rem 4rem 7rem 4rem;  
    z-index: 2;
    flex-direction: column;
    gap: 15rem;
    transition: transform 0.5s cubic-bezier(0.7, 0, 0.2, 1); /* Smooth transition */
    transform: translateX(100%);
}


header .sidebar .nav-items{
    list-style: none;
}

header .sidebar .navigation h4{
    color: #b6b6b6;
    font-family:"Lato", sans-serif;
    font-size: 0.7rem;
    border-bottom: 1px solid #b6b6b6;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

header .sidebar .nav-items li a{
    display: inline-block;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    color: #ffffff;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

header .sidebar .nav-items li a::before{
    opacity: 0;
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    background-color: #ffffff;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
}

header .sidebar .nav-items li a:hover::before,
header .sidebar .nav-items li .active::before{
    opacity: 1;
}
header .sidebar .nav-items li a:hover, .active{
    transform: translateX(1.5rem);
}

header .sidebar .social{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .sidebar .socials h4{
    color: #b6b6b6;
    font-family:"Lato", sans-serif;
    font-size: 0.7rem;
    border-top: 1px solid #b6b6b6;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
}

header .sidebar .social li a{
    color: white;
    text-decoration: none;
    font-family:"Roboto", sans-serif;
}

header .magnetic{
    display: none;
}

header .logo h2{
    font-size: 6vw;
}

.intro-section{
    margin: 0px;
}

.intro-section .intro-img{
    width: 70vw;
    height: auto;
}

.intro-section .intro-text1{
    font-size: 6.65vw;
}

.intro-section .typewriter{
    max-height: 10vw;
}

.intro-section .typewriter .text{
    font-size: 5vw;

}
.intro-section .typewriter .option li{
    font-size: 5vw;
}

.intro-section .intro-text2{
    margin-top: 8vw;
}

.intro-section .intro-text2 p{
    font-size: 6vw;
}

.intro-section .intro-text .magnet-button{
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    margin-top: 8vh;
}


.team-slider{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2.95vw;
}

.team-slider svg{
    height: 50px;
    width: 50px;
}

.team-slider .team-wrapper{
    height: 50vh;
    width: 70vw;
    padding: 1rem;
    margin: 4rem auto;
    
}

.team-slider .member-card{
    padding: 6% 3% 6% 3%;
    display: flex;
    flex-direction: column-reverse;
    align-items:center ;
    scroll-snap-align: start;
}

.team-slider .member-card .member-details{
    display: flex;
    flex-direction: column;
}

.team-slider .member-card .member-details .member-name{
    font-size: 2.5vh;
    text-align: center;
}

.team-slider .member-card .member-details .member-pos{
    text-align: center;
}

.team-slider .member-card .member-details .member-info{
    display: none;
}

.team-slider .member-card .member-details .resume-btn{
    align-self: center;
    margin-top: 2.8vh;
    width: 100%;
}

.team-slider .member-card img{
    height: 60%;
    width: 90%;
}