html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color:#ffffff;
    --secondary-color:#e3e3e3;
    --accent-color:#1f5eff; 
    --heading-color:#ffffff;
    --text-color:#000000;
    
    --font-heading:"Roboto", sans-serif;
    --font-paragraph:"Lato", sans-serif;
    --font-primary:"Poppins", sans-serif;
}


.grey-bg{
    height: calc(100vh + 6.5rem);
    background-color: #999d9e;
}

header{
    background-color: #f0f0f000;
    padding: 1.5rem 3rem;
    width: calc(100% - 4rem);
    display: flex;
    margin: 0 auto 1rem auto;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    font-family: var(--font-heading);
    color: black;
}


header .navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items:center ;
    gap: 4rem;
}
header .sidebar-toggle, header .sidebar{
    display: none;
}

header .navbar ul li{
    position: relative;
    text-align: center;
}

header .navbar ul li a{
    text-decoration: none;
    color: #000000;
    font-family: var(--font-paragraph);
    position: relative;
    display: inline-block;
    font-size: 1rem;
    padding: 5px 0px;
}

header .navbar ul li a::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);
    transform-origin: bottom right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
}
header .navbar ul li a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

/* MAGNETIC BUTTONS ---> CSS Starts */

.magnetic {
    display: inline-block;
    position: relative; 
}

.magnet-button {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.8s ease, border-color 0.8s ease, color 0.3s ease;
}

.magnet-button:hover{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: white;
}

/* MAGNETIC BUTTONS ---> CSS Ends */

/* Intro-Section ---> CSS Starts  */

.intro-section{
    display: flex;  
    flex-flow: row wrap-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px auto;
    padding: 0 20px;
}

.intro-text1{
    font-family: var(--font-primary);
    position: relative;
    font-size: 3.5rem;
    line-height: 1.5rem;
}

/* Animated Text >>> Typewriter Effect ---> CSS Starts  */

.typewriter{
    display: flex;
    align-items: center;
    /* margin-bottom: 4rem; */
}

.text{
    display: inline-block;
    color: #000000;
    font-family: var(--font-paragraph);
    font-size: 2.5rem;
}

.option {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.option li {
    list-style: none;
    color: var(--accent-color);
    font-size: 2.5rem;
    font-family: var(--font-paragraph);
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.option li span {
    position: relative;
    margin: 5px 0;
}

.option li span::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    height: 100%;
    width: 100%;
    background: #999d9e;
    border-left: 2px solid var(--accent-color);
    animation: typing 3s steps(10) infinite;
}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 0.5rem);
    }

    100% {
        left: 0;
    }
}

/* Animated Text >>> Typewriter Effect ---> CSS Ends  */

.intro-text2{
    margin-top: 3rem;
}

.intro-text2 p{
    font-size: 1.8rem;
    font-family: var(--font-paragraph);
}

.intro-button{
    margin-top: 5rem;
    padding: 20px;
    font-size: 1.2rem;
}

.intro-img{ 
    height: 550px;
    width: 550px;
}

/* Intro-Section ---> CSS Ends  */

/* Project-Section ---> CSS Starts  */

.project-text{
    margin-top: 4rem;
    margin-left: 5%;
    font-family: var(--font-heading);
    font-size: 2.5rem;
    font-weight: 700;
}

.project-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 4rem 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.project-card {
    position: relative;
    width: 325px;
    height: 450px;
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    
}

.project-img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.project-img::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}

.project-card:hover .project-img::before {
    bottom: 0;
}

.project-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.project-card:hover .project-img img {
    transform: scale(1.1);
}

.details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: .3s;
    color: #fff;
    z-index: 2;
}

.project-card:hover .details {
    bottom: 0;
}

.details h1,
.details h2 {
    font-weight: 700;
}

.details h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.details h2 {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
    opacity: .6;
}

.details .rating {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    gap: .25em;
}

.details .rating i {
    color: #e3c414;
}

.details .rating span {
    margin-left: 0.25em;
}

.details .tags {
    display: flex;
    gap: .375em;
    margin-bottom: .875em;
    font-size: .85em;
}

.details .tags span {
    padding: .35rem .65rem;
    color: #fff;
    border: 1.5px solid rgba(255 255 255 / 0.4);
    border-radius: 4px;
    border-radius: 50px;
}

.details .desc {
    color: #fff;
    opacity: .8;
    line-height: 1.5;
    margin-bottom: 1em;
}

.details .collaborators h3 {
    margin-bottom: .5em;
}

.details .collaborators ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    width: 100%;
}

.details .collaborators ul li {
    list-style: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    border: 1.5px solid #fff;
}

.details .collaborators ul li img {
    width: 100%;
    height: 100%;
}

/* Project-Section ---> CSS Ends  */

/* Appear-on-Scroll Effect ---> CSS Starts  */

@keyframes appear {
    from{
        opacity: 0;
        transform: translateX(-100px); 
    }
    to{
        opacity: 1;
        transform: translateX(0px); 
    }
}

.in-view-animate {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

/* Appear-on-Scroll Effect ---> CSS Ends  */

/* Skill-Section ---> CSS Starts */

.skill-text {
    margin-left: 5%;
    font-family: var(--font-heading);
    font-size: 2.5rem;
    font-weight: 700;
}

.skill-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 4rem 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
}

.skill-card {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}
.skill-card img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.overlay {
    width: 100%;
    height: 0;
    background: linear-gradient(transparent,#1c1c1c 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 1rem;
    transition: height 0.5s;
}
.overlay h3 {
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 3vh;
    font-family: var(--font-primary);
    color: #ffffff;
    font-size: 1.9rem;
    letter-spacing: 2px;
}

.overlay p{
    color: #ececec;
}

.skill-card:hover img{
    transform: scale(1.1);
}
.skill-card:hover .overlay{
    height: 100%;
}
/* Skill-Section ---> CSS Ends */

