*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}

/* Utility Classes */

.poppins{
    font-family: "Poppins", sans-serif;
}

.lato{
    font-family: "Lato", sans-serif;
}

.inter{
    font-family: "Inter", sans-serif;
}

.oswald{
    font-family: "Oswald", sans-serif;
}

.roboto{
    font-family: "Roboto", sans-serif;
}

/* Navbar Styling */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    border: 2px solid red;
}

.logo h3{
    color: black;
}

.logo h3 span{
    color: orangered;
}

